body{
    background-color: black;
}

h1{
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

.gmslogo{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(75%);
    width: 40%;
    border-radius: 20%;
    overflow: hidden;
    box-shadow: 10px 5px 5px green;
}

.gmslogo img{
    width: 100%;
}